body {
    font-family: Arial, sans-serif;
    background-color: #c9c9c9;
    color: #333;
    text-align: center;
}

.container {
    margin: 0 auto;
    padding: 200px;
    width: 300px;
    background-color: rgb(252, 243, 230);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#forca {
    font-family: monospace;
    white-space: pre;
}

input {
    padding: 5px;
    margin: 10px 0;
}

button {
    padding: 5px 10px;
    margin: 5px;
    
}
