<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Escolha um Tema</title>
</head>
<body>
    <div class="container">
        <h1>ESCOLHA UM TEMA PARA JOGAR</h1>
        <div>
            <button onclick="window.location.href='/jogo/frutas'">Frutas</button>
            <button onclick="window.location.href='/jogo/animais'">Animais</button>
            <button onclick="window.location.href='/jogo/programacao'">Programação</button>
            <button onclick="window.location.href='/jogo/cidade'">Cidade</button>
        </div>
    </div>
</body>
</html>
